@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.contact {
    text-align: center;
    background-color: #202030;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact h1,
p,
a,
h1,
h2,
h3 {
    color: #fff;
    font-size: 32px;
    font-family: Libre Baskerville;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

h4 {
    font-size: 24px;
    font-family: Libre Baskerville;
    color: #fff;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
}

h5 {
    font-size: 18px;
    font-family: Libre Baskerville;
    color: #fff;
}

ion-icon {
    color: white;
    font-size: 42px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}