@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* Garante que o header fique sobreposto */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    /* Removendo a sombra para um visual mais limpo */
}


.logo img {
    width: 60px;
    padding-left: 10px;
}

.navbar {
    display: flex;
    align-items: center;
}

.openMenu {
    display: none;
    /* Initially hide for desktop */
}

.mainMenu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: Libre Baskerville, serif;
    font-size: 20px;
}

.nav-item a:hover {
    color: #9281a7;
    /* Adjust hover color as needed */
}

.btn {
    border: 2px solid #9281a7;
    /* Adjust button border color */
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #9281a7;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    color: #9281a7;
}

/* Media Query for Mobile Menu */
@media (max-width: 768px) {
    .openMenu {
        display: block;
        cursor: pointer;
    }

    .mainMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .mainMenu.active {
        display: flex;
    }

    .closeMenu {
        display: block;
        cursor: pointer;
    }
}