.about {
    text-align: center;
    background-color: #39304A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1,
p,
a,
h1,
h2,
h3 {
    color: #fff;
}